<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blog - Tyler Krys</title>
    <% include partials/_head.ejs %>
    <!-- Canonical -->
    <link rel="canonical" href="https://tylerkrys.ca/blog">
  </head>
  <body>
    <% include partials/_header.ejs %>
    <div class="container container-blog">
      <div class="jumbotron">
        <h1>Blog</h1>
        <p>This is a list of all the blog articles.</p>
      </div>
      <% if (locals.posts) { posts.forEach((post) => { %>
        <a href="/blog/<%= post.slug %>" title="<%= post.title %>">
          <h2><%= post.title %></h2>
        </a>
        <p><%- post.body.substring(0,280) + '...' %> <a href="/blog/<%= post.slug %>" title="<%= post.title %>">(read more)</a></p>
      <% } ) } else { %>
        <div class="alert alert-info" role="alert">
          <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i> There are normally some posts here! If they're missing, there is a database problem. My bad.</p>
        </div>
      <% } %>
    </div>
    <% include partials/_footer.ejs %>
    <% include partials/_bootstrap.ejs %>
  </body>
</html>
