<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tyler Krys - Full Stack Web Developer</title>
    <%- include('./partials/_head.ejs') %>
    <!-- Meta Description -->
    <meta name="Description" content="Tyler Krys is a full stack web developer in Victoria, BC, Canada with a background in e-commerce, marketing, and sales.">
    <!-- Open Graph -->
    <meta property="og:title" content="Tyler Krys - Full Stack Web Developer" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://tylerkrys.ca" />
    <meta property="og:image" content="https://tylerkrys.ca/images/tyler-krys-web-developer-og-image.jpg" />
    <!-- Canonical link -->
    <link rel="canonical" href="https://tylerkrys.ca">
  </head>
  <body>
    <%- include('./partials/_header.ejs') %>
    <%- include('./partials/_hero.ejs') %>
    <%- include('./partials/_projects.ejs') %>
    <%- include('./partials/_social.ejs') %>
    <%- include('./partials/_contact-form-index.ejs') %>
    <%- include('./partials/_footer.ejs') %>
    <%- include('./partials/_bootstrap.ejs') %>
  </body>
</html>
