<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Tyler Krys - Web Developer</title>
    <% include partials/_head.ejs %>
    <!-- Canonical -->
    <link rel="canonical" href="https://tylerkrys.ca">
  </head>
  <body>
    <% include partials/_header.ejs %>
    <div class="container-full-height container-hero">
      <div class="hero-headline">
        <div class="container">
          <h1 class="text-center"><a href="https://tylerkrys.ca">Tyler Krys</a></h1>
          <img src="/images/gravatar-150px.png" class="gravatar" alt="Tyler Krys">
          <p class="text-center">Web developer with a background in retail marketing and sales.</p>
          <p class="text-center">Seeking opportunities in Victoria, BC.</p>
        </div>
      </div>
    </div>

    <div class="container container-projects" id="projects">
      <h2 class="heading-thin text-center">Web Development Projects</h2>
      <% projects.forEach(function(project) { %>
        <div class="row project">
          <div class="col-xs-12 col-sm-5">
            <div class="project-img-container">
              <img src="<%= project.screenshot_url %>" class="img-fluid" alt="Screenshot of <%= project.name %>">
            </div>
          </div>
          <div class="col-xs-12 col-sm-7">
            <h3><%= project.name %></h3>
            <p class="project-stack">
              <%- project.tech_stack.join(' &#124; ') %>
            </p>
            <p class="project-description">
              <%- project.body %>
            </p>
            <a class="link-unstyled btn-project" href="<%= project.github_url %>" title="View <%= project.name %> GitHub repo">
              <%= project.github_caption %>
            </a> &nbsp;
            <% if (project.secondary_url) { %>
              <a class="link-unstyled btn-project" href="<%= project.secondary_url %>" title="<%= project.secondary_caption %>">
                <%= project.secondary_caption %>
              </a> &nbsp;
            <% } %>
            <% if (project.deployment_url) { %>
              <a class="link-unstyled btn-project" href="<%= project.deployment_url %>" title="<%= project.deployment_caption %>">
                <%= project.deployment_caption %>
              </a> &nbsp;
            <% } %>
          </div>
        </div>
      <% } ) %>
    </div>

    <div class="container container-social" id="social-links">
      <div class="row">
        <div class="col-xs-12 col-sm-6 offset-sm-3">
          <h2 class="heading-thin text-center">Social Media</h2>
          <div class="list-group">
            <a href="https://github.com/ty2k" class="list-group-item active" title="Tyler Krys - GitHub"><i class="fa fa-github" aria-hidden="true"></i>
     &nbsp GitHub</a>
            <a href="https://www.linkedin.com/in/TylerKrys/" class="list-group-item list-group-item-action" title="Tyler Krys - LinkedIn"><i class="fa fa-linkedin-square" aria-hidden="true"></i>
     &nbsp LinkedIn</a>
            <a href="https://www.freecodecamp.com/ty2k" class="list-group-item list-group-item-action" title="Tyler Krys - freeCodeCamp"><i class="fa fa-free-code-camp" aria-hidden="true"></i>
     &nbsp freeCodeCamp</a>
            <a href="/blog" class="list-group-item list-group-item-action" title="Tyler Krys - Blog"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
     &nbsp Blog</a>
            <a href="https://plus.google.com/u/0/+TylerKrys" class="list-group-item list-group-item-action" title="Tyler Krys - Google Plus"><i class="fa fa-google-plus-official" aria-hidden="true"></i>
     &nbsp Google&#43;</a>
            <a href="https://twitter.com/TylerKrys" class="list-group-item list-group-item-action" title="Tyler Krys - Twitter"><i class="fa fa-twitter-square" aria-hidden="true"></i>
     &nbsp Twitter</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container container-full-height container-contact" id="contact-form">
      <form class="form-horizontal" action="/contact" method="post" role="form">
        <fieldset>
          <div class="container">
            <h2 class="heading-thin text-center">Contact</h2>
            <div class="controls">
              <div class="form-group">
                <label class="control-label" for="name">Name &#42;</label>
                <div>
                  <input id="name" name="name" type="text" placeholder="Your name" class="form-control" required="required">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="email">Email &#42;</label>
                <div>
                  <input id="email" name="email" type="text" placeholder="Your email" class="form-control" required="required">
                </div>
              </div>
              <div class="form-group">
                <label class="control-label" for="message">Message &#42;</label>
                <div>
                  <textarea class="form-control" id="message" name="message" placeholder="Enter your message here" rows="3" required="required"></textarea>
                </div>
              </div>
              <div class="form-group">
                <div class="text-center">
                  <button type="submit" class="btn btn-primary btn-lg" title="Submit contact form"><i class="fa fa-envelope" aria-hidden="true"></i>
     &nbsp Submit</button>
                </div>
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
    <% include partials/_footer.ejs %>
    <% include partials/_bootstrap.ejs %>
  </body>
</html>
